*{
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
    font-size: 14px;
    color: #464646;
    margin-top: 80px;
}

/* NAV */

.nav__container{
    background-color: #ECECEC;
    height: 80px;
    width: 100%;
    /* padding: 0 25px; */
    padding: 12px 14px; 
}

.logo{
    background-image: url(../assets/navbar/Group.png);
    background-repeat: no-repeat;
    padding: 7px 17px;
    background-size: contain;
}

.nav__contacto {
    font-weight: bold;
}

.logo__nombre p {
    font-weight: bold;
}

.presentacion{
    background-color: #ECECEC;

    padding: 12px 14px; 
}

.presentacion h2{
    font-weight: bold;
    font-size: 30px;
}

.imagen-circular {
    width: 250px;
    height: 250px; 
    background-image: url('../assets/presentación/yo.jpg');
    background-size: cover;
    border-radius: 50%;
}

.redes-sociales{
    font-size: 12px;
}

/* Sobre mi */

.sobre-mi{
    background-color: #E5F1FF;
    padding: 12px 14px;
}

.text-sobre-mi{
    overflow-wrap: break-word;
}

.title-secciones{
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 20px;
}
/* .text-sobre-mi h3{
    font-size: 15px;
    font-weight: bold;
} */

.text-sobre-mi h3,
.text-sobre-mi p{
    margin: 20px 10px;
}

.firma{
    width: 140px;
    background-size: cover;
}

/* Skills */

.skills{
    background-color: #ECECEC;
}

.container-skills{
    padding: 30px;
}



/* .container-skills .title-secciones{

} */

.container-skills .marg-1{
    padding-top: 50px;
}


.container-skills .marg-2{
    padding-top: 100px;
}

.hard-skills{
    width: 100px;
    height: 100px;
    background-color: white;
}


/* Formaciones */

.formacion-y-cursos{
    background-color: #E5F1FF;
}


/* Experiencia */
.experiencia{
    background-color: #ECECEC;
}

.title-experiencia{
    font-weight: bold;
    font-size: 16px;
}

.experiencia p{
    font-size: 16px;
    font-weight: bold;
}

.contenido-exp .title-exp{
    font-weight: bold;
    font-size: 15px;
    padding-bottom: 10px;
}

.contenido-exp .subtitle-exp{
    font-size: 12px;
    padding-bottom: 10px;
}

.repo{
    width: 120px;
    height: 50px;
    border: 2px solid #2A7AE4;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
}

.demo{
    width: 120px;
    height: 50px;
    color: #fff;
    background-color: #2A7AE4;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    border: 2px solid #2A7AE4;
    cursor: pointer;
}

/* CONTACTO */

.contacto{
    background-color: #E5F1FF;
}

.contenido-contacto h2 {
    margin-bottom: 20px; /* Agrega un margen inferior de 20px al título */
}

.contenido-contacto p {
    margin-bottom: 10px; /* Agrega un margen inferior de 10px a los párrafos */
}

.title-contacto{
    font-size: 16px;
    font-weight: bold;
}

.contenido-contacto p{
    font-size: 14px;
}

footer{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #ECECEC;
}


