*{
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
    font-size: 14px;
    color: #464646;
    margin-top: 80px;
}

.nav__container{
    background-color: #FFFFFF;
    height: 80px;
    width: 100%;
    /* padding: 0 25px; */
    padding: 12px 14px; 
}

.logo{
    background-image: url(../assets/navbar/Group.png);
    background-repeat: no-repeat;
    padding: 7px 17px;
    cursor: pointer;
    background-size: contain;
}

.nav__contacto {
    font-weight: bold;
}

.logo__nombre p {
    font-weight: bold;
}

.presentacion{
    background-color: #FFFFFF;

    padding: 12px 14px; 
}

.presentacion h2{
    font-weight: bold;
    font-size: 30px;
}

.imagen-circular {
    width: 250px; /* Ajusta el tamaño según sea necesario */
    height: 250px; /* Ajusta el tamaño según sea necesario */
    background-image: url('../assets/presentación/yo.jpg');
    background-size: cover;
    border-radius: 50%; /* Hace que el contenedor sea circular */
}

.redes-sociales{
    font-size: 12px;
}

.sobre-mi{
    background-color: #E5F1FF;
    padding: 12px 14px;
}

.text-sobre-mi{
    overflow-wrap: break-word;
}

.text-sobre-mi h3{
    font-size: 15px;
    font-weight: bold;
}

.text-sobre-mi h3,
.text-sobre-mi p{
    margin: 30px 10px;
}

.firma{
    width: 140px;
    background-size: cover;
}

.skills{
    background-color: #ECECEC;
}

.container-skills{
    padding: 30px;
}

.container-skills h4{
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 30px;
}

.container-skills h5{
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 30px;
    padding-top: 30px;
}



.hard-skills{
    width: 100px;
    height: 100px;
    background-color: white;
}


